#!/bin/bash

MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD:-{{ mysql_root_password }}}

SECURE_MYSQL=$(expect -c "
set timeout 10
spawn mysql_secure_installation
expect \"Enter current password for root (enter for none):\"
send \"$MYSQL_ROOT_PASSWORD\r\"

expect {
 -ex \"VALIDATE PASSWORD PLUGIN can be used to test passwords\" {
        send \"n\n\";
        exp_continue;
       }
 timeout { puts \"No install validation plugin proposal. Mysql less than 5.7.\" }
}

expect \"Change the root password?\"
send \"n\r\"
expect \"Remove anonymous users?\"
send \"y\r\"
expect \"Disallow root login remotely?\"
send \"y\r\"
expect  \"Remove test database and access to it?\"
send \"y\r\"
expect  \"Reload privilege tables now?\"
send \"y\r\"
expect eof
")

echo "$SECURE_MYSQL"


